@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#header {
  padding:20px;
  width: auto;
  background-color: $acc_blue_1;
}

.header-content {
  max-width: 1200px;
  padding-bottom: 10px;
}
@media all and (min-width: 425px) {
  .header-content {
    width: 90%;
    margin: auto;
  }
}
