//
//
//              Created by
//            __ _____ __    _____ _____    _____ _____    __ _____
//         __|  |  |  |  |  |   __|   | |  | __  |     |__|  |     |
//        |  |  |  |  |  |__|   __| | | |  |    -|  |  |  |  |  |  |
//        |_____|_____|_____|_____|_|___|  |__|__|_____|_____|_____|
//
//                on 03/05/2016
//                   isusk246@gmail.com
//
//
/*
	ACC Main Styles
	Last updated: See GIT/SVN
  ----------------------------------
*/

@import "variables.scss";
@import "mixins.scss";

body {
  margin: 0;
  background-color: $acc_gray_1;
  font-family: Roboto;
}

.hide {
  display: none;
}

.form-field label {
  display: block;
  font-weight: bold;
}

.form-field {
  margin-bottom: 20px;
  max-width: 320px;
  width:93%;
}
.form-field.center {
  text-align: center;
}

.form-field input[type="text"], .form-field textarea, .form-field select {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.form-field textarea {
  resize: none;
  font-family: Roboto;
}

.selectable {
  cursor: pointer;
}

/* -----------------------------------------------------------------------------
  BUTTONS
----------------------------------------------------------------------------- */
.acc-button {
  margin-bottom: 48px;
  text-align: center;
  display: inline-block;
  margin: 4px;
  padding: 12px 24px;
  color: white;
  background: $acc_blue_1;
  font-size: .9rem;
  border: solid 2px $acc_blue_1;
  box-shadow: none;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
}

.acc-button:active {
  background: none;
  color: $acc_blue_1;
}

.acc-button:focus {
  outline: none;
}

.acc-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

// Input with right button
.input-plus-button-wrapper {
	position: relative;
}
.input-plus-button-box {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	padding-right: 38px !important;
}
// For divs pretending to be inputs
div .input-plus-button-box {
  display: inline-block;
  border: solid 1px;
  border-color: rgb(169,169,169);
}
.input-plus-button-icon {
	position:absolute;
	font-size: 1.3rem !important;
	padding: 10px 10px 10px 10px;
	background-color: transparent;
	border:1px solid transparent;
  color: $acc_blue_1;
	display: inline-block;
	right: 0;
	text-decoration: none;
}
.black-text {
  color: black;
}