@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#footer {
  margin: 0;
  width: auto;
}

.footer-content {
  max-width: 1200px;
  text-align: center;
}
@media all and (min-width: 425px) {
  .footer-content {
    width: 90%;
    margin: auto;
  }
}

.footer-link {
  display:inline-block;;
  width: 20%;
  margin:auto;
}
.footer-link a, .footer-link a:visited {
  font-size: 0.9rem;
  color: $acc_blue_2;
}
