@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cover-content {
  padding: 20px;
}

.cover-content h2 {
	margin-bottom: 5px;
}

.cover-content #acc-number {
	margin: 0px;
}
